@media screen and (max-width: 480px) {
    body {
        font-size: 10px !important;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 12px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 16px !important;
    }
}